.header {
    position: relative;
    margin-bottom: 95px;
}

.site-desc {
    position: absolute;
    right: -50px;
    top: 58px;

    @media (max-width: 1400px) {
        right: 30px;
        top: 170px;

        .site-desc__content {
            color: #fff;
        }
    }

}

.site-desc__content {
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 5.4px;
    white-space: nowrap;
    color: rgba(11, 12, 17, 0.2);
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;

    position: absolute;
    left: 0;
    top: 0;

}

.header-social-wrapper {
    width: 20px;
    position: absolute;
    right: -45px;
    bottom: 0;

    @media (max-width: 1400px) {
        right: 30px;
        bottom: 30px;
    } 
}


